node_modules
dist
coverage
.DS_Store
*.log
apps/server/prisma/dev.db
apps/server/prisma/dev.db-journal
apps/server/prisma/test.db
apps/server/prisma/test.db-journal
apps/server/prisma/**/*.db
apps/server/prisma/**/*.db-journal
apps/server/.env
apps/client/.env
